
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <h2>Please Change Your Password!</h2>
    <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row form-group-sm">
                            <div class="col-md-4">
                                <div class="row form-group-sm">
                                    <div class="col-md-10">
                                        <label>Your Current Password: <span style="color: red">*</span></label>

                                        <input class="form-control" type="text" id="txtCurrPass" value="123" disabled/>
                                    </div>
                                </div>
                                <br />
                                <div class="row form-group-sm">
                                    <div class="col-md-10">
                                        <label>Your New Password: <span style="color: red">*</span></label>

                                        <input class="form-control" type="password" id="txtNewPass" />
                                    </div>
                                </div>
                                <br />
                                <div class="row form-group-sm">
                                    <div class="col-md-10">
                                        <label>Confirm New Password: <span style="color: red">*</span></label>

                                        <input class="form-control" type="password" id="txtNewPassConfirm" />
                                    </div>
                                </div>
                                
                                <br/>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_UpdatePass">Update Password</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
    var newPass = '';
    var newPassConfirm = '';
    $(document).ready(function () {

        $("#btn_UpdatePass").click(function () {
            newPass = $('#txtNewPass').val();
            newPassConfirm = $('#txtNewPassConfirm').val();

            if (newPass == '' || newPassConfirm == '' || newPass == null || newPassConfirm == null) {
                Swal.fire({
                    type: 'error',
                    title: 'Please Fill In Both Fields!',
                    text: 'Please Confirm Your Password!',
                    showConfirmButton: true
                });
            }
            else if (newPass != newPassConfirm) {
                Swal.fire({
                    type: 'error',
                    title: 'Passwords Are Not The Same!',
                    text: 'Please Confirm Your Password!',
                    showConfirmButton: true
                });
            } else {
                updatePassword();
            }

        });

    });

    function updatePassword() {
        Swal.fire({
            type: 'warning',
            title: 'Update Password?',
            text: 'Password will be updated!',
            showConfirmButton: true

        }).then((result) => {
            if (result.value) {
                var username = "@Request.RequestContext.HttpContext.Session["UserName"]";
                var dictlist = {
                    Option: "Update Password",
                    Password: newPassConfirm,
                    Username: username
                }

                var dto = {
                    Model: dictlist
                }

                $.ajax({
                    url: "../UploadMemo/DynamicController?spname=SP_Signature",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(dto),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        Swal.fire({
                            title: "Password Updated!",
                            type: "success",
                            showConfirmButton: false,
                            timer: 3000
                        }).then((result) => {
                            window.location.replace("/ConvertToPA/HomePage");
                        });
                    }, error: function (ex) {
                        console.log(JSON.stringify(ex));
                    }
                });
            }
        })
    }

</script>
