
@{
    ViewBag.Title = "SPBList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .dataTables_filter {
        position: relative;
    }

        .dataTables_filter input {
            width: 250px;
            height: 32px;
            background: #fcfcfc;
            border: 1px solid #aaa;
            border-radius: 5px;
            box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
            text-indent: 10px;
        }

        .dataTables_filter .fa-search {
            position: absolute;
            top: 10px;
            left: auto;
            right: 10px;
        }

    @@media (min-width: 768px) {
        .modal-xl {
            width: 900%;
            max-width: 1300px;
        }
    }
</style>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    @*Table SPB*@
                    <div class="row form-group-sm mt-3" id="divTable">
                       
                        <div class="col-md-12">
                            <h2>SPB List</h2>
                            <hr class="solid">
                      
                            <div id="form_tableSPB" class="form-group row">
                                <table id="tbl_SPB" class="table table-striped table-bordered" style="width: 100%;">
                                    <thead style="text-align: center; ">
                                    <tr>
                                        <th>No</th>
                                        <th>No. Surat</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tBodySPB">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        getTableData();

        $('#tbl_SPB').on('click',
            'tbody tr .detail', function () {
                var row = $(this).closest("TR");
                var data = $('#tbl_SPB').DataTable().row(row).data();
                var noSurat = data['NoSurat'];
                var status = data['Status'];
                window.open('../Report_SPB_View/Report_SPB_Preview?No_Surat=' + noSurat + '&Status=' + status);
        });

        $('#tbl_SPB').on('click',
            'tbody tr .view', function () {
                var row = $(this).closest("TR");
                var data = $('#tbl_SPB').DataTable().row(row).data();
                var noSurat = data['NoSurat'];
                var noSuratPath = noSurat.replace(/\//g, '-');
                var QRCodeText = '../Report_SPB/Rpt_SPB_Memo.aspx?No_Surat=' + noSurat;

               
                var dto = {
                    QRCodeText: QRCodeText,
                    NoSurat: noSuratPath,
                    Flag: "SPB"
                }
                $.ajax({
                    type: "POST",
                    url: "Generate",
                    dataType: "json",
                    data: JSON.stringify(dto),
                    contentType: "application/json;charset=utf-8",
                    success: function () {
                        window.open('../Report_SPB/Rpt_SPB_Memo.aspx?No_Surat=' + noSurat);                    }
                });
            });
    });

    function getTableData() {
        var dictlist = {
            Option: "Get SPB Table",
            Username: "@Request.RequestContext.HttpContext.Session["UserName"]"
        }
        var dto = {
            Model: dictlist
        }
        $.ajax({
            url: "../UploadMemo/DynamicController?spname=SP_Signature",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(dto),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                var table = $('#tbl_SPB').DataTable({
                    "pageLength": 10,
                    "data": JSON.parse(data),
                    "filter": true,
                    "lengthChange": true,
                    "paging": true,
                    "info": true,
                    "searching": true,
                    "select": true,
                    "bDestroy": true,
                    "scrollCollapse": true,
                    "columns": [
                        {  "data": "id",
                            render: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            }
                        },
                        { "data": "NoSurat" },
                        {
                            "data": "Status",
                            "render": function (data, meta, row) {
                                if (data === "REJECTED") {
                                    return '<label style="font-weight:bold; color:black"> REJECTED </label> <label style=" color: red">  <i class="fa-solid fa-square-xmark"></i></label>';
                                } else if (data === "APPROVED") {
                                    return '<label style="font-weight:bold; color:black"> APPROVED </label> <label style="color:#1cd932"> <i class="fa-solid fa-square-check"></i></label>';
                                } else {
                                    return '<label style="text-align: center; font-weight:bold; color:#f5a742"> PENDING <i class="fa-solid fa-clock"></i></label> <label style="font-weight:bold; color:black"> (' + row["NextApprover"] + ') </label>';
                                    //return '<label style="font-weight:bold; color:black"> PENDING </label> <label style=" color:#f5a742"><i class="fa-solid fa-clock"></i></label> <label style="font-weight:bold; color:black"> (' + row["NextApprover"] + ') </label>';
                                }
                            }

                        },
                        {
                            "data": "Status",
                            "render": function(data, meta) {
                                if (data === "PENDING") {
                                    return '<label style="text-align: center; height: 30px"> - </label>'
                                } else if (data === "APPROVED"){
                                    return '<input type="button" class="btn btn-primary view" style="background-color: dodgerblue; border-color: dodgerblue;   margin-left:auto;margin-right:auto;display:block; width: 67px" id="btn_View" value="View "/>'
                                }
                                else if(data === "REJECTED"){
                                    return '<input type="button" class="btn btn-primary detail" style="background-color:  #8d68e8; border-color: #8d68e8;   margin-left:auto;margin-right:auto;display:block;" id="btn_Detail" value="Detail"/>'
                                }
                            }
                        }
                    ],

                    "order": [[0, 'asc']],
                    "columnDefs": [
                        { "width": "1%", "targets": 0 },
                        { "className": "text-center", "targets": [0, 3] },
                        { "width": "40%", "targets": 1 },
                        { "width": "15%", "targets": 2 },
                        { "width": "5%", "targets": 3 },
                    ]
                });

            }, error: function (ex) {
                console.log(JSON.stringify(ex));
            }
        });
    }

</script>


